main {
  padding: 10vh 4vw;

  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 5rem;

  #projects {
    padding-top: 2rem;

    display: flex;
    flex-direction: column;

    gap: 3.5rem;

    .project {
      h1 {
        margin-bottom: 2rem;

        @media (min-width: 650px) {
          font-size: 5rem;
        }
      }
      p {
        margin-bottom: 1.5rem;
      }
    }
  }
  .button {
    color: var(--color-3);

    padding: 0.5rem 1rem;

    border: 0.2rem solid var(--color-2);
    border-top: 0;
    border-left: 0;

    &:hover {
      color: var(--color-2);
    }

    a {
      @media (min-width: 650px) {
        font-size: 2rem;
      }
    }
  }

  .page {
    width: 3rem;
    height: 5rem;

    font-size: 2rem;
    font-weight: bolder;

    border-radius: 0.5rem;

    cursor: pointer;
  }
}
